
<h1 class="">Oturum Aç</h1><br><br><br>
<div class="large-4 columns large-centered panel radius">
  <%= form_for :session,url: session_path do |form| %>
    <%= form.text_field :email,place_holder: 'e-mail' %>
    <%= form.password_field :password,place_holder: 'parola' %>
    <%= form.submit 'Oturum Aç',class: 'button radius large-12 columns' %>

  <% end %>
</div>

