<% if current_user==@user %>

<div class="row">
  <div class="large-12 columns">
    <div class="large-2 columns">
     <%= image_tag @user.avatar_url,class: 'profile-image' %>
    </div>
    <div class="large-10 columns">
      <h2>
        <%= "#{@user.first_name} #{@user.last_name} "  %>
        <p><%= @user.email %></p>
      </h2>
    </div>

    <hr/>
    <div class="large-12 columns">
      <p>İçerik buraya gelecek</p>
    </div>
  </div>
</div>

<% else %>
    <p>Yetkiniz Yok</p>
<% end %>