<div class="row">
  <div class="large-12 columns">
    <h1>Arduino Akıllı Ev Nedir?</h1>
  </div>
  <hr/>
  <div class="large-12 columns">
    <p>
      Arduino akıllı ev Arduino UNO ile tasarlanan bir evin,web üzerinden kontrol edilmesini sağlayan bir uygulamadır.
    </p>
  </div>
</div>
